* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
  width: 100%;
  background:rgba(0, 0, 0, 0.137);
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
  gap: 80px;
}

a{
            color: rgb(255, 249, 249);
            background: black;
            display: inline-block;
            padding: 20px;
            
            font-size: 1.5rem;
            text-transform: capitalize;
            text-decoration: none;
            border-radius: 20px;
        }

      @media(min-width:400px) {
        
        main{
    height: 100%;
  width: 100%;
  background:rgba(0, 0, 0, 0.137);
  display: flex;
flex-direction: column;
   gap:40px;
}

a{
            color: rgb(255, 249, 249);
            background: black;
            display: inline-block;
            padding:  20px;
            
            font-size: 2rem;
            text-transform: capitalize;
            text-decoration: none;
            border-radius: 20px;
        }

       }


                
        