* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
  width: 100%;
  background:darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

a{
            color: rgb(255, 249, 249);
            background: black;
            display: inline-block;
            padding: 20px;
            margin: 20px;
            font-size: 1.5rem;
            text-transform: capitalize;
            text-decoration: none;
            border-radius: 20px;
        }
        a:hover{
            background-color: rgba(24, 24, 24, 0.389);
        }
        img{
            height: 400px;
        }